{{#if edit}}
  <form class="row col-6 mx-auto" action="/records/{{_id}}?_method=PUT" method="POST">
{{else}}
  <form class="row col-6 mx-auto" action="/records" method="POST">
{{/if}}
  {{> messages}} 
  <div class="my-3 col-12">
    <label for="name" class="form-label">
      <span class="text-danger">*</span>
      名稱</label>
    <input
      type="text"
      class="form-control"
      id="name"
      name="name"
      placeholder="請輸入名稱"
      value="{{name}}"
      required
    />
  </div>
  <div class="my-3 col-12">
    <label for="date" class="form-label"><span class="text-danger">*</span>
      日期</label>
    <input type="date" class="form-control" id="date" name="date" value="{{date}}" required />
  </div>
  <div class="my-3 col-12">
    <label for="category" class="form-label">
      <span class="text-danger">*</span>
      類別</label>
    <select
      name="categoryId"
      id="select-category"
      class="form-control"
      aria-label="select by category"
      required
    >
      <option selected disabled value="">選擇類別</option>
      {{#each categories}}
        {{#if ../categoryId}}
          <option value="{{this._id}}" {{#ifCond this._id ../categoryId}}selected{{/ifCond}}>{{this.name}}</option>
        {{else}}
          <option value="{{this._id}}">{{this.name}}</option>
        {{/if}}
      {{/each}}
    </select>
  </div>
  <div class="my-3 col-12">
    <label for="amount" class="form-label">
      <span class="text-danger">*</span>
      金額</label>
    <input
      type="number"
      class="form-control"
      id="amount"
      name="amount"
      placeholder="請輸入金額"
      value="{{amount}}"
      required
    />
  </div>
  <div class="my-3 text-center">
    <a href="/" type="button" class="btn btn-primary">返回</a>
    <button type="submit" class="btn btn-success ms-3">提交</button>
  </div>
</form>