<form action="/records">
  <div class="col-12 col-md-6 mx-auto my-5">
    <select
      class="form-select"
      aria-label="Default select example"
      name="selectedCategory"
      onchange="this.form.submit()"
    >
      <option selected value="all">所有類別</option>
      {{#each category}}
        {{#if ../selectedCategory}}
        <option value="{{this._id}}" {{#ifCond this._id ../selectedCategory}}selected{{/ifCond}}>{{this.name}}</option>
        {{else}}
        <option value="{{this._id}}">{{this.name}}</option>
        {{/if}}
        
      {{/each}}
    </select>
  </div>
</form>

<div class="row col-12 col-md-6 mx-auto my-5">
  <a
    href="/records/new"
    type="button"
    class="btn btn-outline-warning col-12 col-sm-4 mb-5 mb-sm-0"
  >新增支出</a>
  <div class="text-end col-12 col-sm-8">
    總金額：
    <h3 class="d-inline">{{totalAmount}}</h3>
  </div>
</div>
<div class="row col-12 col-md-6 mx-auto my-5">
  <table class="table">
    <tbody>
      {{#unless records}}
        <p class="text-center">請新增支出項目</p>
      {{/unless}}
      {{#each records}}
        <tr class="align-middle">
          <td class="text-info col-1 fs-4"><i
              class="{{this.categoryId.icon}}"
            ></i></td>
          <td class="col-8">
            <p class="mb-0">{{this.name}}</p>
            <small>{{this.date}}</small>
          </td>
          <td class="col-1">{{this.amount}}</td>
          <td class="col-1 text-center">
            <a href="/records/{{this._id}}/edit" class="text-primary">
              <i class="fa-solid fa-pen-to-square"></i>
            </a>
          </td>
          <td class="col-1 text-center">
            <form
              action="/records/{{this._id}}?_method=DELETE"
              method="POST"
              class="d-inline"
            >
              <button
                type="submit"
                class="p-0 border-0 text-danger"
                onclick="return confirm('確定要刪除 {{this.name}} 嗎?')"
              ><i class="fa-solid fa-trash"></i>
              </button>
            </form>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>